.game-4{
  background: transparent  url("assets/images/games/game4/bg-game4.png") center center no-repeat scroll;
  background-size: cover;
  max-width: 1140px;
  min-height: 972px;
  margin: 0 auto;
  position: relative;
  .board-row{
    text-align: center;
  }

  .game-guide{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    p{
      color: $bf-white;
      text-align: center;
    }
  }

  .rotate-game{
    display: none;
  }

  .crossboard{
    margin: 2rem auto;
  }

  .congrat{    
    position: relative;
    .congratulation-button{
      position: absolute;
      left: 0;
      width: 100%;
      padding: 0 20%;
      bottom: 4%;      
    }    
  }

  @include for-size(mobile){
    .crossboard .btn {
      width: 32px;
      font-size: 1rem;
      height: 32px;
      line-height: 2rem;
    }
  }
}