#page-footer{
    border-top: 3px solid #fff;
    background: $bf-red;
    *{
        color: $bf-white;
    }
    padding: 40px 0;
	a:hover {
		color: $bf-yellow;
	}
}

.footer-menu{
    list-style: none;
    margin-bottom: 0;
    @include flexbox((
        display: flex,
        justify-content: space-around
    ));

    a{
        @include font_varela(bold);
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: underline;
        display: inline-block;
    }

    li{
        @include display-flex();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(flex-start);
        @include align-items(center);
    }

    .facebook-icon{
        width: 50px;
        height: 50px;
        display: block;
    }
}

@include for-size(mobile){
    .footer-menu{
        margin: 0;
        @include flexbox((
                display: flex,
                align-items: center,
                flex-direction: column,
                flex: 1
        ));
        li{
            margin-bottom: 16px;
        }
    }
}